* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:opsz,wght@9..144,400;9..144,900&family=Gentium+Book+Basic:ital@1&family=Inter:wght@500&family=Mulish&family=Open+Sans&family=Poppins:wght@500&family=Roboto&family=Stoke&display=swap');

.container {
    width: 1200px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 30px;

}

.nav__list {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.nav__list a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;
}

.nav__list a:hover {

    color: #5FB4A2;
}

.nav__list a:active {
    color: #7a7983;
}

.col_ul_li_a {
    color: #33323D;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.col_ul_li a:hover{
    color: #92dbcc;
}

.col_img {
    width: 1200px;
    height: 500px;
    margin-top: 94px;
}


.card-title {
    width: 350px;
    height: 42px;
    margin-top: 48px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;

}


.card-text {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;

}

.card-title-h5 {
    margin-top: 48px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.285714px;

}

.btn {
    width: 178px;
    height: 48px;
    border: 1px solid black;
    margin-top: 179px;
    display: flex;
    justify-content: start;

}
.visit__btn a{
    text-decoration: none;
    color: #33323D;
}

.card__img {
    width: 635px;
    height: 400px;
    margin-top: 28px;
}

.container_text {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.285714px
}

.container_text_next {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #aeaeb3;
    
}
.end-text {
    margin-bottom: 150px;
}

.rectangle {
    width: 1px;
    height: 130px;
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
}

.section_blok-title {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.section_blok-title h4 {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
}

.section_blok-title .section_blok-title_rectangle {
    width: 534px;
    height: 1px;
    margin-top: 48px;
    background: #040404;
    mix-blend-mode: normal;
    opacity: 0.15;
}

button {
    width: 162px;
    height: 48px;
    margin-top: 25px;
    border: 1px solid black;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* footer section2 */
.col__ul_li {
    list-style: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.col .col__image{
    position: relative;
    left: 300px;
    
}

footer{
    width: 100%;
    background: #33323D;
    padding: 30px 0 30px 0;
}
.footer_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer__links{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}
.footer__links a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 2px;
text-transform: uppercase;

color: #FFFFFF;

}
.footer__links a:hover{
    color: #92dbcc;
}
.footer__links a:active{
    color: #fff;
}


.footer_messenger{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}